body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Header */
header {
    background: #0d6efd;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-btn {
    background: white;
    color: #0d6efd;
    border: none;
    padding: 10px 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

/* Products */
.products {
    display: flex;
    gap: 20px;
    padding: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
}

.order-btn {
    background: #ff5722;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}